/*===============APP.js====================*/
.container-fluid{
  padding-left:0px !important;
  padding-right:0px !important;
  height: 100%;
}
.app-body{
  padding-top: 70px ;
  height: 100%;
  margin: 2%;
  justify-content: center;
}

.content{
  padding: 2%  !important;
  margin : 0;
}

/*======== QuizSelector and QuizViwer Style Sheet ==========*/
.content-body{
    padding: 1%;
    border-style: hidden;
}
.add-task-btn{
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 100% !important;
    margin-right: 1%;
    margin-bottom: 1%;
}


.task-item{
    padding-left: 4%;
}
.control-group{
    display: flex;
    justify-content:flex-end;
}

.form-check-input  {
    margin-top :1px !important;
    
}

.table td {
    vertical-align: middle;
}

/*======== Navbar Style Sheet ==========*/

.navbar{
    display: flex;
    justify-content: space-between !important;
}

.navbar-brand{
    display: contents;
}

/*========MyQuiz Style Sheet ==========*/


.home-btn{
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 100% !important;
    margin-left: 1%;
    margin-bottom: 1%;
}

.card{
    align-self: center;
}

.card-group{
    display: flex;
    flex-direction: column;
}

.card-footer{
    border-top: 0;
    background-color: transparent;
}

/*========MyQuestion Style Sheet ==========*/

.centered-checkbox{
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-check-input{
    position: inherit;
    margin-right: 5px;
}